@media screen and (max-width: 952px) {
    nav .text-logo {
        font-size: 1.5rem;
    }
    
    .nav-link a {
        font-size: 1rem;
    }
    
    .banner-section h1,
    .campus-section h1,
    .course-section h1,
    .thesis-section h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1.125rem;
    }

    .uppercase {
        font-size: 1rem;
    }

    br {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .banner-section h1,
    .campus-section h1,
    .course-section h1,
    .thesis-section h1 {
        font-size: 1.5rem;
    }
}